html {
  font-family: 'Mallanna', sans-serif;
  color: #204b49;
}

header {
  background-color: #E3DDDD;
}

a {
  color: #204B49;
}

.btn {
  background-color: #E3DDDD;
  color: #FE4A4A;
  border-color: #FE4A4A;
  border-width: 1.5px;
}

.btn:hover {
  background-color: #FE4A4A;
  color: #E3DDDD;
  border-color: #E3DDDD;
}

.header-color {
  background-color: #a2bdc7;
}

footer {
  background-color: #204B49;
  color: #E3DDDD;
}

.footer-a {
  text-decoration: none;
  color: #E3DDDD;
}

img {
  max-width: 100%;
}

.banner {
  background-color: rgba(0, 0, 0, .05);
}

.cards li {
  background-color: #fff;
  border: 1.5px solid #FE4A4A;
}

strong {
  color: #FE4A4A;
}
