html {
  font-family: Mallanna, sans-serif;
  color: #204b49;
}

header {
  background-color: #e3dddd;
}

a {
  color: #204b49;
}

main a:focus {
  outline: 3px solid #204b49;
}

section a:focus {
  outline: 3px solid #204b49;
}

article a:focus {
  outline: 3px solid #204b49;
}

nav a:hover {
  background-color: #204b49;
  color: #e3dddd;
  border: 1px solid #fe4a4a;
  border-radius: 4px;
}

.btn {
  background-color: #e3dddd;
  color: #204b49;
  border-color: #fe4a4a;
  border-width: 1.5px;
}

.btn:hover {
  background-color: #fe4a4a;
  color: #e3dddd;
  border-color: #e3dddd;
}

.header-color {
  background-color: #a2bdc7;
}

footer {
  background-color: #204b49;
  color: #e3dddd;
}

.footer-a {
  text-decoration: none;
  color: #e3dddd;
}

img {
  max-width: 100%;
}

.banner {
  background-color: rgba(255, 255, 255, .7);
}

.cards li {
  background-color: #fff;
  border: 1.5px solid #fe4a4a;
}

strong {
  color: #fe4a4a;
}

.price-card {
  border: solid 5px #a2bdc7;
}

.home-banner {
  background-image: url("../images/woman-and-baby.jpg");
  background-size: cover;
  min-height: 30em;
  background-position: center center;
}

.tour-banner {
  background-image: url("../images/tour.jpg");
  background-size: cover;
  min-height: 10em;
  background-position: center center;
}

.pricing-banner {
  background-image: url("../images/pricing.jpg");
  background-size: cover;
  min-height: 10em;
  background-position: center center;
}

.sign-up-banner {
  background-image: url("../images/sign-up.jpg");
  background-size: cover;
  min-height: 10em;
  background-position: center center;
}
